* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),url("./Images/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 2rem 5rem;
}

header nav{
    width: 85%;
    margin: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    color: #9be2dbc5;
    font-size: 22pt
}

header nav ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

header nav ul li::after{
    content: '';
    height: 3px;
    width: 100%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
}